<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>N</string>
	<string>FN</string>
	<string>PHOTO</string>
	<string>ADR</string>
	<string>TEL</string>
	<string>EMAIL</string>
	<string>NICKNAME</string>
	<string>TITLE</string>
	<string>ORG</string>
	<string>NOTE</string>
	<string>URL</string>
	<string>BDAY</string>
	<string>PREF</string>
	<string>WORK</string>
	<string>HOME</string>
	<string>OTHER</string>
	<string>HOMEPAGE</string>
	<string>JOBTITLE</string>
	<string>COMPANY</string>
	<string>VOICENOTE</string>
	<string>DEPARTMENT</string>
	<string>WORKFAX</string>
	<string>OTHERFAX</string>
	<string>CELL</string>
	<string>IPHONE</string>
	<string>MAIN</string>
	<string>PAGER</string>
	<string>HOMEFAX</string>
	<string>WEDDING</string>
	<string>BIRTHDAY</string>
	<string>AIM</string>
	<string>QQ</string>
	<string>GTALK</string>
	<string>YAHOO</string>
	<string>MSN</string>
	<string>ICQ</string>
	<string>JABBER</string>
	<string>SKYPE</string>
	<string>FACEBOOK</string>
	<string>TWITTER</string>
	<string>LINKEDIN</string>
	<string>MYSPACE</string>
	<string>FLICKR</string>
	<string>BEBO</string>
	<string>ORKUT</string>
	<string>STUDIVZ</string>
	<string>XING</string>
	<string>SKYROCK</string>
	<string>TUENTI</string>
	<string>NETLOG</string>
	<string>BADOO</string>
	<string>RENREN</string>
	<string>WEIBO</string>
	<string>KAIXIN</string>
	<string>WRETCH</string>
	<string>MIXI</string>
	<string>GREE</string>
	<string>CYWORLD</string>
	<string>ME2DAY</string>
	<string>FAX</string>
	<string>CHARSET</string>
	<string>ENCODING</string>
</array>
</plist>
