<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YOVcardLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>YOVcardLibrary_Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>899BD19B182F7DD400F7162C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>899BD1AE182F7DD400F7162C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>899BD1CE182F7E3C00F7162C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>899BD1E3182F7E3C00F7162C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
